# Ignore compilation objects
*.pyc

reference
local

# Ignore version file in package.
# It will be updated upon build/install
atooms/core/_version.py

dist
build
MANIFEST
*.egg-info

rumd_timing_info.dat

