# Ignore compilation objects
*.pyc

reference
local
docs/atooms

# Ignore version file in package.
# It will be updated upon build/install
atooms/core/_commit.py
atooms/plugins/[a-zA-Z]*

dist
build
MANIFEST
*.egg-info
.coverage
cover
.tox

# Simulations
rumd_timing_info.dat
log.lammps
.DS_Store
